[2016-12-08 10:40] jebbench opened #1 "Relative file references are not resolved outside of definitions"
Within my JSON I have a $ref to a relative file path but when parsing get the error:
[code]
Extract from swagger.json
[code]
Code:
[code]

[2016-12-08 10:47] jebbench commented on #1
I've updated my swagger file to put the external reference in the definitions and it resolves correctly:
[code]

[2017-05-02 06:56] jfinkhaeuser commented on #1
Man, I did not see this issue. I'm very sorry about that!

I'll take that on as a new feature. It shouldn't be too hard to implement.

I'm not 100% sure that they *should* work that way. Unfortunately, the specifications are a little open to interpretation here.

[Swagger/OpenAPI](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) itself doesn't specify much at all. [JSON Sc

[2017-05-02 06:58] jfinkhaeuser opened #2 "If no ICU is present, use chardet"
Originally we replaced chardet with ICU because chardet had some issues detecting UTF-8. But in some environments, (e.g. google cloud engine), ICU might not be available, so chardet is still a better choice than nothing at all.

[2017-05-02 09:16] jfinkhaeuser commented on #1
Your test case works now :)

[2017-05-02 09:16] #1 closed

[2017-05-02 12:48] #2 closed

[2017-05-02 13:15] jfinkhaeuser commented on #1
@jebbench upgrade to v0.5.0

[2017-05-02 13:25] jebbench commented on #1
Nice one; I won't get chance to test it this week but I should do next week - I'll report back.

Cheers.

[2017-05-24 21:21] jgontrum opened #5 "Crash when response code is integer"
Hi!
First of thank you for this project - it is exactly what I need!

However, I discovered a bug that occurred when the response code of a method in the Swagger file is interpreted as an integer.
The error is `expected string or bytes-like object`.

Example:
[code]
If I use `"200"` instead, it works.

I discovered that the bug actually happens in `jsonschema._utils`, where a regex fails to run ov

[2017-05-25 10:57] jfinkhaeuser commented on #5
Thanks!

Actually, that's not precisely bug - unfortunately, I might say. I've come across this before, and you may come across this when using AWS in particular.

The thing is, OpenAPI specs are a little vague in some edge cases, and this is one of them.

OpenAPI specs generally provide examples as YAML files, but crucially include the mandate that specs must validate given an appropriate JSON sc

[2017-05-25 10:58] jfinkhaeuser commented on #5
Mind you, the location of that error might be weird. I'm going to look into it one way or another :)

[2017-06-14 09:52] jfinkhaeuser commented on #5
No, the error location is exactly what I suspected: the JSON validator requires string keys and finds non-string keys.

I've added a non-strict mode as outlined that stringifies keys. I hope that's in your interest :)

[2017-06-14 09:53] jfinkhaeuser commented on #5
Fixed in v0.6.0

[2017-06-14 09:53] #5 closed

[2017-09-20 11:07] jfinkhaeuser opened #8 "Support OpenAPI 3.0"
https://github.com/OAI/OpenAPI-Specification/tree/3.0.0

[2017-11-07 09:34] ptman opened #9 "SwaggerValidationError: expected string or buffer"
I get this error trying to do:

[code]

The yaml file is valid according to editor.swagger.io and http://bigstickcarpet.com/swagger-parser/www/index.html

I have no idea where in the swagger file the error is. A line number or similar would be helpful

[2017-11-08 08:04] jfinkhaeuser commented on #9
Thanks for the report!

Yeah, I know a line number would be great. Ugh. I'll see what I can do about that. Do you have the file so I can reproduce? Or is that sensitive? You can email me directly at jens@finkhaeuser.de if you prefer.

What OS are you using? Can you post the full stack trace?

Thanks!

[2017-11-08 08:42] jfinkhaeuser commented on #9
So, line numbers are going to be difficult. I'm doing two steps here, a) is read the file into a Python data structure (nested dicts/lists, etc.), and b) to validate the structure via swagger_spec_validator.

At the point you get a SwaggerValidationError, there are no more line numbers known. The best thing would be some kind of keyword context, but swagger_spec_validator does not provide that.

I

[2017-11-08 09:44] ptman commented on #9
Right, a keyword would do just as fine.

[2017-11-08 09:51] ptman commented on #9
traceback: https://gist.github.com/ptman/65a9e2c08218fae338a363c782e053bd

[2017-11-08 11:01] jfinkhaeuser commented on #9
Thanks for this.

The TL;DR is, I'm going to replace the validation backend. That solves your issue, another issue, and you should get better error messages in case there's something weird in your spec :)

[2017-11-08 12:09] jfinkhaeuser commented on #9
Took me a while to see the obvious: this is the same issue as #5.

Still, if it crops up many times, let's still use a different backend. I've made it so people can use the old backend, so that should not cause any issues.

[2017-11-08 12:11] jfinkhaeuser commented on #9
0.8 should fix it. Otherwise, set strict = False :)

[2017-11-08 12:11] #9 closed

[2018-01-25 12:24] Amnesthesia opened #10 "Option to support recursion"
Swagger spec supports recursion, and schemas that have recursive references are perfectly valid — no python library seems to support this though. `RefResolver` has a built-in `__recursion_protection`, but it protects against *all* recursion.

Would it be possible to allow it to add an option for recursion depth limit instead, and allow recursion but only until a certain depth limit is reached, and

[2018-02-18 03:25] dradetsky opened #11 "prance is too slow, probably needs caching"
I'm trying to enable breaking up yaml swagger specs into smaller files in a set of connexion projects. Currently, connexion does not support the use of relative file references (see issue [here](https://github.com/zalando/connexion/issues/254)). So I investigated prance as a solution.

Technically, it works, in the sense that it enables us to build a fully-resolved spec from a separated spec by re

[2018-02-18 04:04] dradetsky commented on #11
Fun fact: I tried adding a method `dpath.util.set_one` which is like `set` but breaks immediately after making the first change. For some reason that's not immediately obvious to me, this makes the test job take about 20% longer. Modern processors are weird.

[2018-02-18 08:39] jfinkhaeuser commented on #10
Makes sense to me. Sorry for the slow reply, this got lost in my email flood.
I'll look into it!

[2018-02-18 08:43] jfinkhaeuser commented on #11
First off, great analysis! I obviously did not use it on specs this size!
Second, yes, I will accept PRs - for some reason the Windows build seems to fail, but offhand that does not look like it's this PR's fault.
Third, now that I'm aware, I will look into it, yes. But I don't have a ton of time in the near future; I will have more time come April. Let's see what I can do?

[2018-02-28 10:50] jfinkhaeuser commented on #11
So I was doing some profiling now on the current master, and the bad news is that there are no obvious bottleneck spots. That is, any performance improvement will be a series of smaller changes as opposed to one or two big ones.
The other bad news is that a lot of the performance seems to be eaten up in regular expression matching in the parsers I'm using - that's not something I'm going to change

[2018-03-06 11:10] Amnesthesia commented on #10
Awesome!

[2018-03-07 15:03] jfinkhaeuser commented on #11
It would be interesting to know how you're doing with the current master.

Turns out in order to look something up in a nested structure, `dpath` would use a generator to generate all possible paths into the structure, and then compare the search path to the generated path. For every lookup. Of course that can grow to be quite expensive for large nested structures.

On master, I've replaced this w

[2018-03-07 15:27] jfinkhaeuser commented on #10
So... just to be clear.
Object O1 referencing O2 which references O1 again simply makes no sense. You'll never reach the end for resolving them, so the resolution protection can be as strict as it is.
What I'm looking into is allow recursive file references. So object O1 in file F1 references object O2 in file F2, which references object O3 back in file F1.
We're both talking about the same thing,

[2018-03-08 05:46] dradetsky commented on #11
@jfinkhaeuser i actually haven't been using it for the moment. I took some time away from microservice development, for which this was relevant, because of team-wide push on some frontend changes. Hopefully, back to usvc next week. Will report results when I do.

I generally like the sound of this; I imagine that dpath is not great for anything performance-critical because of the high degree of ge

[2018-03-08 09:19] Amnesthesia commented on #10
In my case we actually do have the first thing (which makes no sense), because we have models that reference other models that reference back to the first one; an example would be models like this:

[code]

We also have recursive models where we accept JSON search criteria that are nested, like:

[code]

It's particularly in this case that I'd want to be able to allow recursion but only, say, once

[2018-03-08 09:28] jfinkhaeuser commented on #10
The first case works with prance, or should. The second won't. I'm not sure how small a change it would be to support the second.

But you can model things differently right now, e.g.

[code]

Effectively turning your linked list into an array.

[2018-03-08 09:53] Amnesthesia commented on #10
I wish I could, but the project is massive and I'm not on the back-end team — I've currently written my own parsing since no Python library supports this, but it's really not pretty :(

[2018-03-08 10:07] jfinkhaeuser commented on #10
https://github.com/jfinkhaeuser/prance/blob/c27eed8f959092524dec95ea49b66a12f92b3e33/tests/test_util_resolver.py#L82 is the test case that solves the file recursion issue I mentioned earlier. It probably doesn't solve your issue.

[2018-03-08 10:15] jfinkhaeuser commented on #10
Alright. Well, I understand what your issue is better now. What I am not sure is what to do with it.

I can make a change that allows, say, N recursions fairly easily. What I don't know is what to do when the limit is reached.

Because what you'd typically do is raise an exception when the maximum recursion depth is reached, but that'll not help you at all. It'll have the same behaviour, but be sl

[2018-03-08 10:41] Amnesthesia commented on #10
Personally, the last solution is exactly what I was hoping for — or to just leave the field with a "null" / None when recursion limit is reached

[2018-03-08 12:31] jfinkhaeuser commented on #11
Well, I don't really have data sets for benchmarking. I was just profiling a simple configuration with all kinds of features to see where time was most spent. After network I/O (which is obvious and not necessarily useful for you), it turned out to be dpath's path matching.

[2018-03-08 15:27] jfinkhaeuser commented on #10
Right, so I've got a solution that I'm not too unhappy about - it complicates the code a little, but not too much, and should work for what you want.
The only restriction is that the best I can do here is effectively this:

[code]

Will get resolved to:

[code]

(I simplified this example - yours had the self-reference in a field.) The point is, with how the code is structured, I can't really remo

[2018-03-09 10:14] Amnesthesia commented on #10
Sounds great! Thank you!

[2018-03-12 12:09] Amnesthesia commented on #10
Is this in the latest version? :D

[2018-03-12 15:20] jfinkhaeuser commented on #10
No, it's not - I thought I was close, but it turns out I've got a few issues to work through in order to get there, and I'm not sure about the cost of the feature.

So one thing is super easy to implement at practically no cost: keeping true, that is unlimited recursion, by simply assigning the parent element to the child field.

Python deals with this just fine - except when you start iterating d

[2018-03-12 20:49] Amnesthesia commented on #10
Awesome — that sounds great; can definitely live with setting recursion limits. Thank you so much for your time and commitment!

[2018-03-27 11:51] mafrosis opened #15 "Option to unpack "allOf" arrays in swagger"
I have a swagger file, from which I would like to extract a JSON schema object for the response to each API endpoint. JSON schema doesn't like the `allOf` magic we've used, so it would be nice if this can be automatically expanded out with an option to `prance`.

I've half hacked together a script to do this for our case, but I feel like this feature ought to sit in prance itself. What do you thin

[2018-03-27 20:42] mafrosis commented on #15
I had a poke through the code this morning. Very nice! Looks to me like an option to the `ResolvingParser` class which enables another resolver similar to `RefResolver` is the way to go.

On the other hand, you may consider this out of scope for the project?

We're using `allOf` to combine multiple `$ref`s into a single composite response - which I gather isn't an unusual use case.

[2018-04-04 09:10] jfinkhaeuser commented on #15
Thanks for the feedback - I've been away over Easter, and am now catching up.

Seems like a very reasonable feature request! I'll be back in full swing in the next few days, and should be able to add this.

[2018-04-04 09:11] jfinkhaeuser commented on #15
Or you can create a PR if you'd like - I happily accept those. But if you can wait, that's also good.

[2018-04-12 10:41] jfinkhaeuser commented on #15
So. I've now had time to dig into this, and I confess I'm a little confused. `allOf` isn't something you'd want to merge in the specs.

It's supposed to validate an object against all of the referenced specs. In fact, OpenAPI specs say that all items need to be validated independently.

Let's say you have two things you want to validate:
- 'foo' needs to be a string
- 'bar' needs to be an integer

[2018-04-12 10:48] jfinkhaeuser commented on #11
I think I have to close this for the moment.

After some more development, I'm still at the stage where prance's own code is not taking a lot of time, and is in fact pretty conservative about what validate with one of the validation backends.
The further development has made a tradeoff for a number of reasons:
- On the one hand, referenced objects are deep copied now, which is relatively expensive

[2018-04-12 10:48] #11 closed

[2018-04-13 01:35] mafrosis commented on #15
@jfinkhaeuser I'm happy to close this issue if you are - I solved the problem for my particular case with a simple wrapper around prance. My code looks like:

[code]

[2018-04-13 01:37] mafrosis opened #16 ""This value is required" errors in 0.10.0"
I had to rollback to 0.9.0 as the new release doesn't parse my swagger. The errors look like:

[code]

I can attempt to create a small test case for this if necessary, but I won't get to it for a week or so.

[2018-04-15 19:36] jfinkhaeuser commented on #16
Huh. Thanks for that. A test case would be useful, yes.

If you want, you can send me the swagger to jens@finkhaeuser.de and I'll extract an anonymized test case. Up to you!

[2018-04-15 19:38] jfinkhaeuser commented on #15
Cool - it's not as if I don't want to add features you find useful, it's just that this one I am struggling to reconcile with how `allOf` seems to be documented.

[2018-04-19 08:05] x1m commented on #16
Having the same error. Works fine after rolling back to 0.9.0.

[2018-04-26 09:14] jfinkhaeuser commented on #16
Yeah, the separate specs also fail with the BaseParser, which does not resolve. That hasn't changed from 0.9, so I don't think that's the only reason. Both validation backends just don't like JSON references that aren't well-formed URLs, and the `petstore-separate` examples have that issue.

So that's something I can *also* fix, and then move forward.

[2018-04-26 10:07] jfinkhaeuser commented on #16
Right, figured it out. Turns out to be a small fix, thankfully.

[2018-04-26 10:14] jfinkhaeuser commented on #16
Fixed in v0.10.1

[2018-04-26 10:14] #16 closed

[2018-04-26 12:29] jfinkhaeuser commented on #8
Done, by including openapi-spec-validator as an optional backend. It seems to validate the examples from the specs just fine.

[2018-04-26 12:29] #8 closed

[2018-04-26 22:31] mafrosis commented on #16
I can confirm this is fixed for me in `v0.11.0` 👍

[2018-05-18 09:43] jfinkhaeuser opened #17 "Convert OpenAPI 2.0 to 3.0"
## Expected Behaviour
A new command should convert OpenAPI 2.0 specs to 3.0, as well as possible. In code, this should be functionality to run on a parser's spec, so we can use it on the BaseParser prior to resolving references.

Tests would require that converted specs validate as 3.0.

[2018-05-18 09:47] jfinkhaeuser opened #18 "Add new compile command"
## Expected Behaviour
While using the `validate` command to combine specs by dereferencing is a very nice emergent property of prance, it may be useful making it explicit.

Effectively, using `validate --output-file` should raise a deprecation warning, and a new `compile` command should cover the same functionality.

The `compile` command should also include automatic conversion of 2.0 to 3.0 as p

[2018-05-19 15:30] jfinkhaeuser commented on #17
This looks done. It's simpler than expected, because I'm just using a web API - let's see how far we get with that.

[2018-05-19 15:30] #17 closed

[2018-05-19 15:32] jfinkhaeuser commented on #18
On reflection, merging specs seems more hassle than it's worth.

[2018-05-20 08:19] #18 closed

[2018-05-22 09:04] jfinkhaeuser opened #19 "Add functionality for validating data against models"
## Expected Behaviour

Given data (as YAML or JSON, or in code as nested structures), validate it against schemas in a spec. Well, basically against anything that can live in the components object (3.0)

## Environment
- Swagger/OpenAPI version used: 3.0
- Backend: any

@jfinkhaeuser

[2018-05-22 10:17] jfinkhaeuser commented on #19
- [ ] JSON schema validation for schema objects
- [ ] Evaluate/implement validation of Response Objects.
- [ ] Evaluate/implement validation of Parameter Objects.
- [ ] Evaluate/implement validation of Example Objects.
- [ ] Evaluate/implement validation of Request Body Objects.
- [ ] Evaluate/implement validation of Header Objects.
- [ ] Evaluate/implement validation of Security Scheme Objects.
-

[2018-08-13 09:14] michalzubkowicz opened #20 "Wrong validation messages because of version fallback with openapi 3.0"
Currently this code:
``

    from .util.exceptions import raise_from
    try:
      try:
        validate_v3_spec(self.specification)
        self.__set_version(BaseParser.SPEC_VERSION_3_PREFIX, spec_version)
      except TypeError as type_ex:  # pragma: nocover
        raise_from(ValidationError, type_ex)
      except JSEValidationError as v3_ex:
        try:
          validate_v2_spec(self.speci

[2018-08-20 16:38] jfinkhaeuser commented on #20
Hmm. Thanks for this! Even with the @mention it got lost in my email, sorry about that.

Well, the idea is that we try v3 first, then try v2, and then fail as a way of detecting the version. But you're right, with an error in a v3 spec, the wrong message would be produced.

I'll produce a patch soon.

[2018-08-20 16:38] jfinkhaeuser commented on #20
FWIW, I'm happy to accept PRs in general. But I can probably get a fix out tomorrow.

[2018-08-21 07:47] michalzubkowicz commented on #20
You are fast, thanks ;)

[2018-08-21 08:10] jfinkhaeuser commented on #20
The fix is basically done, but the builds fail for other reasons. I'll need a tad longer to get a release out. Should happen today, though!

[2018-08-21 12:07] jfinkhaeuser commented on #20
v0.13.0 is released.

The fallback is no longer used; instead, the major spec version is used to determine the exact validation method.

Looking at the code again, it became obvious that the fallback is from a time before we parsed and examined the spec version - so now it's useless, and as you pointed out actually confusing.

[2018-08-21 12:07] #20 closed

[2018-08-24 09:20] ioggstream opened #22 "prance compile fails with `KeyError: 'Cannot set with an empty path!'` when resolving external paths"
## Expected Behaviour

I expect:

  - Prance to compile referenced objects `{$ref: "http://foo.com/bar.yaml#/Object"}`

### Minimal Example Spec

https://github.com/teamdigitale/api-starter-kit/blob/master/openapi/simple.yaml.src

## Actual Behaviour

[code]

## Steps to Reproduce
[code]

## Environment
- OS: linux fedora 27
- Python version: 3.6
- Swagger/OpenAPI version used: 3.0.0
- Backend: op

[2018-08-24 13:05] jfinkhaeuser commented on #22
Thanks - will check it out!

[2018-08-24 13:30] jfinkhaeuser commented on #22
@ioggstream Thanks - I have a fix, will work on a release.

The issue is that the items you reference are at the top level of the included file - nothing wrong with that, but it's not common in OpenAPI specs, where all objects are typically defined in their own namespace. As such, the tests didn't catch this edge case.

The fix, luckily, is simple enough and there's going to be a bugfix release as

[2018-08-24 13:35] jfinkhaeuser commented on #22
Well, actually, the reason is more complex - never mind, the fix is in the works.

[2018-08-24 14:41] ioggstream opened #23 "Configuration for "partial" resolution"
## Expected Behaviour
I wish a parameter for a partial resolution of items, eg:

  - append external references to `components`
  - retain inner references to `#/components/schemas/...`

### Minimal Example Spec
[code]

should become

[code]
## Actual Behaviour

 Full resolution is done

@jfinkhaeuser

[2018-08-24 14:43] jfinkhaeuser commented on #23
Yeah... I hear you. It's not how JSON references work, though. It's also a fair bit more code. I'll mark this as a feature request.

[2018-08-25 00:07] ioggstream commented on #22
Thanks!

[2018-10-04 12:03] lafrech opened #25 "Documentation error: openapi-spec-validator supports Python 2 and 3, not Python 3 only"
The readme says [openapi-spec-validator](https://github.com/p1c2u/openapi-spec-validator) is Python 3 only while it also supports Python 2.

[2018-10-06 14:37] jfinkhaeuser commented on #25
Mhh, I will check it out again. When I wrote this, it didn't work on Python 2.

[2018-10-08 12:08] #25 closed

[2019-01-22 03:14] rjbez17 opened #27 "Dependancy on click should be optional."
## Expected Behaviour
I can use this as a library only with no dependency on click

## Actual Behaviour
My CLI (which uses Click 7.0) is unable to use this as a library as there is a hard dependency for Click 6.7. It be nice if this could be used as a library only without any CLI specific dependencies (and not requiring a fork).

@jfinkhaeuser

[2019-01-22 08:30] jfinkhaeuser commented on #27
Yup, that makes a lot of sense.

[2019-01-22 14:56] rjbez17 commented on #27
I'm happy to submit a PR if you provide some feedback on how we want it implemented. There are a few approaches we could take here.

[2019-01-22 15:59] jfinkhaeuser commented on #27
Well, making the click dependency an extra_require arg is simple enough. I'd want requirements.txt to default to including the extra. And the cli entry point in setup.py needs to be tagged appropriately. That's around 95% of it.

The remaining 5% are annoying - unfortunately, the flex dependency does not like click 7, and getting rid of that will be more involved.

[2019-01-22 16:17] rjbez17 commented on #27
Flex is no longer being maintained, so we may want to find an alternative anyway:

https://github.com/pipermerriam/flex

Another option is to pull the library specific items into a separate repo (prancer maybe?) and have prance (the CLI for prancer) have the library as a dependency. That avoids a lot of build/install time complications. If not correctly it shouldn't break any current users, but al

[2019-01-23 13:08] jfinkhaeuser commented on #27
Let me stew on this for a day or two. Things have been hectic, and I'm in a different project headspace at the moment. I very much like flex because with the other two, the hackaround due to JSON Schema usage and the performance both are nothing to write home about.

I'm leaning towards making flex optional, then there's a path forward. Meh.

[2019-02-08 08:56] jfinkhaeuser commented on #27
So, I took a while (was busy), but I'm going to be dealing with this today.

[2019-02-08 13:08] jfinkhaeuser commented on #27
So what's currently in master, and what it seems I will tag as 0.14 should do the trick:

Click 7, no flex:
[code]

No click, but flex. For CLI functionality, install click 6.7 separately:
[code]

That should give you what you want, and is backwards compatible.

[2019-02-08 15:32] rjbez17 commented on #27
I'm still seeing a click dependency in a new virtualenv:

[code]

[2019-02-08 23:11] KirillY opened #29 "Minor readme issue"
Hey, @jfinkhaeuser, you probably using `compile` but should use `convert` in a readme.

## Expected Behaviour
[code]

## Actual Behaviour
[code]

[2019-02-09 08:30] jfinkhaeuser commented on #29
You're absolutely right!

[2019-02-09 08:31] #29 closed

[2019-02-09 11:16] jfinkhaeuser commented on #27
I see, and it's weird.

[2019-02-09 11:18] jfinkhaeuser commented on #27
Ah. That part is actually fine; flex itself has a dependency on click. So you're getting the CLI support "for free" with flex.

What's not so great is that there's a conflict with the pyyaml version flex depends on, and the one deemed safe (there was a security warning).

I'll fix that in a 0.14.1 tag, but the TL;DR is that flex is probably no longer a good idea. I'll document it accordingly.

[2019-02-09 15:47] jfinkhaeuser commented on #27
The situation with PyYAML is a bit annoying at the moment because of how distutils handle dependencies. Long story short, I made a few minor changes, but those were more cosmetic.

Specifying flex will:
- install click 6.7, because click<7 is a dependency of flex
- issue an error, because we're now looking for flex >=4.2b2, while flex wants <4

Still, flex works just fine. And since we're using `Y

[2019-02-09 15:47] #27 closed

[2019-02-11 14:29] cscutcher opened #30 "Prance depends on a now abandoned version of pyyaml"
Apologies for not following the template but this is an odd situation that doesn't really fit.

## The situation, as far as I can tell.

Quite rightly, in commit a2ba2c8, which went into 0.14.0, you bumped the version of PyYaml to ">4.0.0" which should include the safe secure behaviour for loading yaml. However there's been a fair amount of drama over in [pyyaml's repo](https://github.com/yaml/pyy

[2019-02-11 14:49] jfinkhaeuser commented on #30
Mhh, I did not consider `pipenv`, as I'm not using it. But that makes sense, of course.

How about we compromise? I've just subscribed to the PyYAML issue (been too lazy to before). If I bump a release before PyYAML 5.1 comes out, I'll go back to PyYAML 3.x - otherwise leave as is? You've already got a workaround, and I'm hoping this issue won't take much longer. Fingers crossed. Either way, I'll

[2019-02-11 16:31] cscutcher commented on #30
Thanks for getting back to me and keeping an eye on it. I'll be watching how things develop too.

Pipenv is a still a little rough round the edges but is great for consistent deploys between prod, dev and test environments.
It makes managing updates for applications a great deal easier as well as secure for end users and it hopefully discourages package developers from over-specifying requirements

[2019-02-11 16:39] jfinkhaeuser commented on #30
WRT pipenv: yes, that section is what convinced me I might give it a try :)

If you look at prance's `setup.py`, you'll see that I take a fairly disciplined approach to declaring dependencies (PyYAML being the main exception, because of the above issue). In contrast the `requirements*.txt` are just conveniences for setting up a virtualenv.

[2019-02-25 08:05] jfinkhaeuser commented on #30
So, 5.1b1 has been released. Let me see if I can bump a release with that, or have to wait for a non-beta (pip's version matching with these alphabetic version parts is a bit weird).

[2019-02-25 08:40] jfinkhaeuser commented on #30
Tagged a 0.14.1 to get rid of the 4.x dependency, but I will tag a 0.15 when 5.1 final is released. Leaving this open for now.

[2019-03-13 16:49] jfinkhaeuser commented on #30
0.15 is building with 5.1, and should be on pypi soon.

[2019-03-13 16:49] #30 closed

[2019-03-20 10:50] wvxvw opened #32 "Dependency on requests is too restrictive"
Are there any reasons to require the very specific version of this library?

I just ran into a situation where I cannot use `prance` together with `docker-compose` because the later outlaws both the `2.21` and `2.18` (I believe they've encountered bugs in those versions). This is while your package requires specifically those versions (the `2.18` is the one before the present requirement).

I don'

[2019-03-20 12:15] jfinkhaeuser commented on #32
The version is just best practices in package management. You can somewhat rely on future package versions to provide the same API as the version you're testing with, but not on past versions. Therefore, the dependency is for any 2.x greater or equal to 2.21 (See https://www.python.org/dev/peps/pep-0440/#compatible-release )

The problem in this case is that `docker-compose` does not specify versi

[2019-03-20 12:21] jfinkhaeuser commented on #32
I just saw you opened an issue there already and jumped in, sorry. And thanks for doing so!

[2019-03-20 12:25] wvxvw commented on #32
It's not about best practices, and your reading of what Docker package does specification is really off...

But I am not writing this to put blame. I am quite sure that `docker-compose` had much more reasons to choose the constraints that they did than you had. They receive a massive volume of bug reports and their approach to dealing with bugs resulted from `requests` usage was to disallow partic

[2019-03-20 12:31] wvxvw commented on #32
PS. Re' your comment: that's not how `~=` is interpreted by `setuptools`. To setuptools it means that you are free to choose release version, but you must have the same major and minor. In particular, this will not allow you to use a newer version of the library, only a newer release / build.

`docker-compose`, on the other hand, do not allow using newer versions of `requests` on purpose: it's a l

[2019-03-20 12:55] jfinkhaeuser commented on #32
My approach is what decades of testing and release management best practices have established.

I can recommend looking at https://semver.org/ as a starting point, to read up on DSO versioning (e.g. from the excellent https://software.intel.com/sites/default/files/m/a/1/e/dsohowto.pdf guide by Ulrich Drepper) and how it feeds into Linux distribution package management, or read about release manage

[2019-03-20 12:55] #32 closed

[2019-03-20 13:09] jfinkhaeuser commented on #32
No, it means the major must be the same, the minor must be the same or higher. See the link I posted earlier about PEP-0440, and also perhaps try it out.

[2019-03-26 11:15] ApaDoctor opened #33 "Incorrect type of string with example in schema"
In YAML you can write strings without quotes. For some specific cases you are forced to use quotes, for example when you put digits, but you want them to be of type string.
But when you write schema and set type of variable to string - when you provide `example` you expect that it will also be of type string. But it's converted to the python as integer.
## Expected Behaviour
Some schema in `reques

[2019-03-26 11:41] jfinkhaeuser commented on #33
That's not a bug, that's how the different specs work together.

YAML has no concept of the schemas you provide, it just has concepts of different data types. A sequence of digits is an [Integer](https://yaml.org/type/int.html), as described in the specs (base 10 is detected).

It's OpenAPI that assigns meaning to the different fields. In the [Schema Object](https://swagger.io/specification/#schem

[2019-04-08 18:21] njharman opened #34 "Are local references not suppose to be resolved?"
## Expected Behaviour
Before I work on PR wanted to ask...

Local # references expanded. Instead of this 'paginator': {'$ref': '#/definitions/Paginator'}  I'd expect the {ref} dict to be replaced with the actual definition. Or am I just not understanding how this is suppose to work?

### Minimal Example Spec

## Actual Behaviour
ERROR in "spec.yaml" [ResolutionError]: Recursion reached limit of 1

[2019-04-08 19:27] jfinkhaeuser commented on #34
It'd be good to know more about the spec you're using this on.

By your description, I think you're expecting the right thing. In the example `petstore.yaml`, that works according to the test case at: https://github.com/jfinkhaeuser/prance/blob/bcff3eaed4f7ad4a9e419c73ee12016fd5ed5747/tests/test_resolving_parser.py#L46

Maybe there's something different in your schema?

[2019-04-08 19:53] njharman commented on #34
Thanks for confirming. The spec is huge, complicated, and too full of business stuff can't post on internet. (and wrong somehow). I created a minimal example works as expected (I just wasn't sure what "expected was). I'll have to figure out what's wrong with my spec. It does validate with --no-resolve.  Maybe there's a circular ref or something like that.

[2019-04-08 19:53] #34 closed

[2019-06-15 16:38] DeAJota opened #35 "ValidationError: expected string or bytes-like object"
I'm creating app with Flask, Connexion and Swagger. I want split swagger yaml file in multilpe files.
I have followed this reply:
https://github.com/zalando/connexion/issues/254#issuecomment-497194240

When I execute my app appears the exception. This exception is raised by the function _validate_openapi_spec_validator on class BaseParser, line 235.
`validate_v2_spec(self.specification)`
specifica

[2019-06-16 07:15] jfinkhaeuser commented on #35
The reason is that JSON doesn't accept any keys that are not strings. Your YAML contains integer keys in the form of response codes. Make them strings by quoting them and it will be fine.

[2019-06-16 07:16] jfinkhaeuser commented on #35
FWIW, this is documented in the readme - look for strict mode.

[2019-06-16 08:05] DeAJota commented on #35
Excuse me for my mistake, I should have read more, you are absolutely right

[2019-06-16 08:05] #35 closed

[2019-06-16 08:50] jfinkhaeuser commented on #35
No, it's all good, no need for excuses! Is there something about the documentation I could improve?

[2019-06-16 09:10] DeAJota commented on #35
I think isn't necessary. I followed the yaml code examples of Swagger/OpenApi and, how you say, they does not always match the JSON specs. Thank you so much for your attention.

[2019-06-22 20:46] cigano opened #36 "Validation doesn't indicate error line in file when response code is not a string"
## Expected Behaviour

Given a YAML file which `paths.{path}.get.responses` has a response code expressed as a number,
two things could happen:

 - The validation runs ok ([Connexion](https://github.com/zalando/connexion) accepts response codes as integers;
 - The validation fails, pointing the correct line that the error happened.

### Minimal Example Spec

## Actual Behaviour

I have a message l

[2019-06-23 13:15] jfinkhaeuser commented on #36
I'm sort of aware, and will take a look. The problem is that the exceptions come from the underlying validation backend, and not all backends provide good information. But it's been on my mental list to improve this.

[2019-08-26 12:09] Lyangyangyang opened #38 "'ResolutionError: Cannot resolve reference' when parse $ref which has '~1'"
## Expected Behaviour
It is expected that the $ref which contains '~1' should be correctly parsed

### Minimal Example Spec
**a.yaml**
[code]
**b.yaml**
[code]
## Actual Behaviour
raise ResolutionError: Cannot resolve reference actualy

## Steps to Reproduce

1. parse yaml which has $ref with '~1'

## Environment
- OS: linux
- Python version: 2.7
- Swagger/OpenAPI version used: 3.0.0
- Backend: op

[2019-08-26 12:12] Lyangyangyang commented on #38
@jfinkhaeuser ,   please help fix this issue ,thanks in advance.

[2019-08-27 08:49] jfinkhaeuser commented on #38
I'll look into it - but it might be an issue with the backend. Either way, I'll let you know something ASAP.

[2019-08-28 11:14] Lyangyangyang opened #40 "endless loop when parse recursive $ref"
## Expected Behaviour
parse with no errors

### Minimal Example Spec
[code]
## Actual Behaviour
The parser falls to endless loop . I set recursive limit to 100 , it donot work .
[code]
## Steps to Reproduce

## Environment
- OS: linux
- Python version: 2.7
- Swagger/OpenAPI version used: 3
- Backend: openapi-spec-validator

@jfinkhaeuser

[2019-08-28 12:49] jfinkhaeuser commented on #40
Thank you for this report.

Recursive references cannot be resolved - what would the result be?

[2019-08-29 01:39] Lyangyangyang commented on #40
Thank you for your quick response .Actually I donnot know how to resolve ,but I need to get the spec of the yaml file . I am blocked by this kind of yaml file . Do you know how to get spec of this kind yaml file? @jfinkhaeuser

[2019-08-29 15:10] jfinkhaeuser commented on #40
Well, it's invalid, and not resolvable. So whatever specs you get out of it won't be what you really need. You should be able to use the `BaseParser` class to get a decent approximation, though.

[2019-08-29 15:10] jfinkhaeuser commented on #40
Failing that, just parse the YAML manually.

[2019-08-30 10:04] jfinkhaeuser commented on #40
The merged PR should help with debugging at least.

[2019-08-30 10:04] #40 closed

[2019-08-30 10:44] #38 closed

[2019-09-03 08:43] Lyangyangyang commented on #38
Thank you very much . It helps a lot

[2019-09-13 08:29] pbasista opened #44 "Consider creating a changelog"
Consider creating a changelog so that it would be possible to easily determine roughly which changes have been made between the released versions.

[2019-09-13 08:46] jfinkhaeuser commented on #44
I'm lazy with changelogs - but you've got a point, of course!

[2019-09-18 01:54] jayvdb opened #45 "test_canonical fails when running tests from sdist"
https://github.com/jfinkhaeuser/prance/blob/master/tests/specs/symlink_test is supposed to be a symlink, but in the sdist uploaded to PyPI it isnt a symlink.

[2019-09-18 02:06] jayvdb opened #46 "CLI tests test_convert_defaults and test_convert_output fail without network"
The CLI tests `test_convert_defaults` and `test_convert_output` fail without network.

In RPM packaging, all tests which require a network have to be disabled as the RPMs are built in an isolated VM to ensure they are reproducible.

As this two tests are verifying CLI behaviour, it would be a good idea if they didnt rely on the network.

[2019-09-18 05:49] jfinkhaeuser commented on #45
Makes sense. I'll see what I will do. The test is intended to detect whether symlinks are correctly resolved, so simply disabling it isn't going to be a good answer. There may not be a better one, though.

[2019-09-18 05:52] jfinkhaeuser commented on #46
Yes, I agree. But the conversion functionality is actually done with a web service. I can disable the tests under special conditions, I suppose.

Really, though, it'd be nice to have this functionality within the package. So far, funds for going through that effort have been sadly lacking :-/

I'll have a think about how best to tackle this.

[2019-09-18 07:43] jayvdb commented on #45
Dynamically create the symlink in the test ?

[2019-09-18 07:45] jayvdb commented on #46
Oh, if these cli functions depend on a network service, then disabling those tests is appropriate.

I wouldnt call it a bug ; sounds like a feature request.

[2019-09-18 10:31] jfinkhaeuser commented on #46
Overly aggressive classification means it won't drop off my radar so easily ;)

[2019-09-18 10:33] jfinkhaeuser commented on #45
That smacks a bit of testing your test environment. 1 == 1 will always be true, you know? It may be better than disabling the test, but doesn't quite feel right, either.

[2019-09-18 10:34] jayvdb commented on #45
It is just test setup. the symlink is needed to verify that the library dereferences the symlink properly.

[2019-09-23 15:09] jfinkhaeuser commented on #44
There's a changelog now. It's pretty useless as yet, of course, but should help you in future. Thanks for pointing this out!

[2019-09-23 15:09] #44 closed

[2019-10-31 02:52] jlipps opened #47 "deprecation warning about collections"
## Expected Behaviour

No deprecation warnings produced when prance is used

### Minimal Example Spec

I use Prance in my OpenAPI / Connexion app like so

[code]

## Actual Behaviour

This deprecation warning is output:

[code]

## Steps to Reproduce

Simply run the app.

## Environment
- OS: macOS Mojave
- Python version: 3.7
- Swagger/OpenAPI version used: 3
- Backend: (flex, swagger-spec-valida

[2019-10-31 09:43] jfinkhaeuser commented on #47
Thanks for this! I'll look into it ASAP.

[2019-11-12 11:26] #47 closed

[2019-11-12 14:45] jfinkhaeuser opened #50 "PyPy github builds"
We'd need https://github.com/travis-ci/travis-ci/issues/6865 to be fixed. Or plenty of time to play around with different versions, which will break again in future.

@jfinkhaeuser

[2019-11-13 09:04] rganowski opened #51 "Strange 'yaml.reader.ReaderError: unacceptable character #x0082: special caracters are not allowed in "<unicode string>", position 446' in modular openapi definitionh"
A have a simple openapi definition prepared to present the problem, with a sinlge Polish letter: **ł**.

**openapi.yaml**:
[code]
That snippet compiles as expected:
[code]

But I wanted to spit this definition into parts. So I prepared two another files:

**openapi-main.yaml**:
[code]

**openapi-part.yaml**:
[code]
And now my problem arises:
[code]

In this case I can do some workarounds. Eg. remo

[2019-11-13 09:42] jfinkhaeuser commented on #51
Thanks! I'll take a look.

[2019-11-13 10:38] jfinkhaeuser commented on #51
Well the good news first: I can confirm this is happening.

The reason seems to be that the file encoding for the parts file is incorrectly detected as `iso-8859-2` when it is valid `utf-8`.

There is a heuristic in prance for detecting file encoding that's based on a bunch of backends, each of which should do better than prance itself, since they're specialized character encoding libraries. But s

[2019-11-13 10:50] rganowski commented on #51
So excelent and so quick answer. Thank you very much.

[2019-11-13 10:53] jfinkhaeuser commented on #51
Unfortunately, I'm not always that quick :)

[2019-11-13 11:28] jfinkhaeuser commented on #51
Quick question, are you on Python3?

Python2 will no longer be maintained after the end of the year, so I've recently made changes to drop testing for it (it's still supported, I suppose). Would that impact you?

[2019-11-13 11:37] rganowski commented on #51
Yes, yes, of course, as I pointed out at the end of my description:

Yet waiting with hope for walrus op. in 3.8 :)

Thx

[2019-11-13 13:05] jfinkhaeuser commented on #51
Ah - I missed that, sorry. Ok, then I'll make this part of 0.17 rather than a patch release. Should be done soon either way.

[2019-11-13 13:53] rganowski commented on #51
Once again thank you very much

[2019-11-13 15:26] #51 closed

[2019-11-13 15:27] jfinkhaeuser commented on #51
Will be released with 0.17.0

[2019-12-20 10:45] hdramzi commented on #10
Any chance to support a config option to make None when recursion limit is reached ?

[2019-12-20 17:07] jfinkhaeuser commented on #10
Yes, that's possible. I'm not sure I'll find the time over Christmas, though.

[2019-12-20 17:09] jfinkhaeuser opened #55 "Option to add None values when recursion limit is reached."
This enhances #10.

- Use the return value of the recursion limit handler to set a new value instead of recursing.
- Add some kind of re-usable handler that returns `None`.

[2020-01-09 13:21] krishnajangid opened #56 "Prance is not reading ref for encoded url"
## Expected Behaviour
Swagger reads ref file with encoded url but prance through errr file not found error.

### Minimal Example Spec
$ref:'#/paths/~1api~1%7Bname%7D~1data

## Actual Behaviour
Error:
Cannot resolve reference "file:///<dir name>/paths/~1api~1%7Bname%7D~1data
## Steps to Reproduce

## Environment
- OS:
- Python version:
- Swagger/OpenAPI version used:
- Backend: (flex, swagger-spec-

[2020-01-09 16:29] jfinkhaeuser commented on #56
I'll have to look into that. Thanks for reporting!

[2020-01-09 16:39] krishnajangid commented on #56
Can you please provide me an example to iterate through  YAML spec
validation error.

On Thu, 9 Jan, 2020, 9:59 PM Jens Finkhaeuser, <notifications@github.com>
wrote:

[2020-01-10 06:54] krishnajangid commented on #56
@jfinkhaeuser please look into it. merge it https://github.com/jfinkhaeuser/prance/pull/57/files

[2020-01-16 16:25] jfinkhaeuser commented on #56
I've reviewed #57, and came to the conclusion it's not the right way to solve the issue.

In the `reference_iterator` implementation, we don't know whether we've got a reference to some other file, or perhaps some HTTP URL. In the case of an HTTP URL, removing URL encoding here would be the wrong choice. It's likely that we'd have to URL-encode everything again before sending it to a server.

If y

[2020-01-18 05:56] krishnajangid commented on #56
I'll look into it. And let you know.

[2020-01-18 07:26] krishnajangid commented on #56
I had tried to debug. The error that I found in another place. In the path module. The **path_get** gets when it trying to get an example from a different place.

For that path key error was occurring because it was encoded.
So to resolve that issue. We will try to get value form dict if a key error occurs then try to decode it and get value for that key. I had made changes for the same pull reque

[2020-01-20 09:51] jfinkhaeuser commented on #56
Thank you for sending the example. This and re-reading RFCs (and YAML specs) have led me to believe that this isn't an issue in prance.

[YAML](https://yaml.org/spec/1.2/spec.html) positions itself as a superset of [JSON](https://www.ietf.org/rfc/rfc4627.txt), and in particular they share much the same string encoding rules. That is, quoted strings can contain just about any unicode character, esc

[2020-01-20 09:51] #56 closed

[2020-01-20 10:36] jfinkhaeuser opened #60 "Improve error reporting when resolving references."
## Expected Behaviour

Show key/index errors with reference to path where the error occurred, and specifics of the error (out of bounds, key not found, etc.)

## Actual Behaviour

Details are swallowed.

## Steps to Reproduce

See #55, #56 for issues arising from this.

@jfinkhaeuser

[2020-01-20 11:35] jfinkhaeuser commented on #36
So upon further investigation, it turns out I can't fix that - that's an issue upstream in `openapi-spec-validator`. It comes down to it simply passing on the spec to a `jsonschema` validator, which expects only strings (i.e. tries to match with regexes).

Since it isn't valid behaviour to use integer keys anyway, I doubt you can convince either of the upstream maintainers to change it. For prance

[2020-01-20 11:40] #36 closed

[2020-01-20 13:31] #23 closed

[2020-01-20 13:39] jfinkhaeuser commented on #23
Sorry it took so long - but it didn't turn out to be so bad as I realized.

[2020-01-20 14:26] ioggstream commented on #23
No problem and *thanks* :D

[2020-01-20 17:09] krishnajangid commented on #56
Thanks, @jfinkhaeuser  for the response. That file generated using the CLI library. I used that in swagger editor it was working fine. And tested with a few other libraries like spectral(https://stoplight.io/open-source/spectral)  it worked fine in that. As you mention it is not the right way to write YAML. I strongly believe in that. So if you feel that's the wrong issue then we can ignore it.

[2020-01-20 18:35] jfinkhaeuser commented on #56
I have no doubt that other implementations do this wrong. And maybe there's something somewhere that I've missed in the specs. But so far, I can't find it.

[2020-01-21 01:40] krishnajangid commented on #56
Okay, make sense. Thanks

[2020-01-21 10:19] #46 closed

[2020-02-24 12:43] Megaxela opened #65 "ResolvingParser dereferencing local references with RESOLVE_FILES option."
## Expected Behaviour
`ResolvingParser` won't dereference local references when `resolve_types` option is set to `prance.util.resolver.RESOLVE_FILES`.

### Minimal Example Spec
[code]

## Actual Behaviour
`ResolvingParser` resolves internal references.

## Steps to Reproduce
Assume that minimal spec file is in `D:/test.yaml`.

[code]

## Environment
- OS: Any
- Python version: 3.7 / 3.8
- Swagger/

[2020-02-24 13:56] jfinkhaeuser commented on #65
Thanks for this! I'll take a look.

[2020-02-26 14:44] jfinkhaeuser commented on #65
Looks like you were right. The tests didn't cover that because they were testing the internal `RefResolver` only, not its usage in the `ResolvingParser`.

[2020-02-26 14:48] #65 closed

[2020-02-26 14:52] jfinkhaeuser commented on #65
The fix should be in `v0.18.2` once the build is through.

[2020-04-24 12:16] tirkarthi opened #67 "Syntax warning over comparison of literals using is"
## Steps to Reproduce

[code]

## Environment
- OS: Ubuntu
- Python version: 3.8

@jfinkhaeuser

[2020-04-24 12:38] #67 closed

[2020-05-31 11:05] FlorianLudwig opened #69 "Error messages do not include context to locate problematic parts in schema"
## Expected Behaviour
Providing some context which part of my 113k line file failed.

## Actual Behaviour

[code]

## Steps to Reproduce

[code]

## Environment
- OS: Linux
- Python version: 3.8
- Swagger/OpenAPI version used: 2.0
- Backend: best

@jfinkhaeuser

[2020-05-31 11:12] jfinkhaeuser commented on #69
It's very hard to provide context on *every error* not raised in your own code. Sorry about that.

That said, in this case I can easily provide some context. Looks like some URL you're using to refer to some object isn't parseable by urllib - which may mean it's invalid.

That is simple enough to catch and provide context on. Thanks for reporting this!

[2020-05-31 13:40] jfinkhaeuser commented on #69
Fixed in 0.18.3

[2020-05-31 13:40] #69 closed

[2020-06-01 09:07] FlorianLudwig commented on #69
Hi,

the error message now is:
[code]
which is an improvement for sure but maybe even more context would be possible? Maybe the name of the definition?

In my case `"type": "string"` is 5139 times in the json.

[2020-06-01 09:29] jfinkhaeuser commented on #69
Oh for sure. It's just not very easy to get at at the point that the error is raised. I've been thinking about how to improve that.

In the meantime, your stack trace suggests that it's a `$ref` key that is mistakenly a dict. Since that's always wrong, even if you have 5k instances of it, you've got something to look for. Hopefully it only appears once!

On 1 Jun 2020, 11:08, at 11:08, Florian Lud

[2020-06-01 10:06] FlorianLudwig commented on #69
Thanks for the hint, did help to find it!

[2020-06-01 10:16] FlorianLudwig commented on #69
Actually, I believe the schema is correct.

It defines a property called `$ref` which is a string. Basically defining JSONSchema in JSONSchema:

[code]

Reading the specification I am not actually sure if this is correct or not.

[2020-06-01 10:56] jfinkhaeuser commented on #69
Well, consider `$ref` ​a reserved key if you have JSON references. I don't think that's possible. There may be a way to e.g. escape the `$` sign to make it legal.

On 1 Jun 2020, 12:17, at 12:17, Florian Ludwig <notifications@github.com> wrote:

[2020-06-01 16:27] FlorianLudwig commented on #69
-- https://swagger.io/docs/specification/using-ref/

So I guess it is not that simple that all `$ref` are references.

[2020-06-01 16:57] jfinkhaeuser commented on #69
There's that. But OpenAPI is a conflicting spec. They also claim to be using JSON schema and JSON references, but violate those specs in places.

So OpenAPI implementations vary (hence the multiple backends, even if some of them are barely active). Most are based on JSON schema validators, because that's the easy way to implement things. Technically, those don't conform to OpenAPI precisely. You o

[2020-06-01 16:58] jfinkhaeuser commented on #69
https://github.com/jfinkhaeuser/prance#a-note-on-json-references for some context.

[2020-06-01 16:58] jfinkhaeuser commented on #69
And in the README, also maybe see the less relevant note on strict mode.

[2020-06-01 17:13] jfinkhaeuser commented on #69
And I figured I'd update the list and move it out of the README so the README doesn't become so cluttered. https://github.com/jfinkhaeuser/prance/blob/master/COMPATIBILITY.rst

[2020-06-01 18:06] FlorianLudwig commented on #69
Thank you for the clarifications! I probably have to read more of the specs to understand those edge cases.

[2020-06-24 06:41] jfinkhaeuser opened #72 "Fix getsize() issue on Windows builds"
See https://ci.appveyor.com/project/jfinkhaeuser/prance/builds/33697424/job/atf7yv8dov29w60w

@jfinkhaeuser

[2020-06-24 08:02] #72 closed

[2020-06-24 08:23] jfinkhaeuser opened #74 "Try to use parser context before passing on to validators, to enrich error messages."
As stated in #69, it would be great if we could get some more context into error messages. One way way it might work is if we get file/line information from the YAML/JSON parsers and annotate the specs with something that the validators can ignore, then use those annotations in error messages.

With `pyyaml`, we should be able to get this information out of buffers. With JSON, it might be trickier

[2020-06-27 19:46] gfarcieri opened #75 "parsing recursive json schema"
I am using connexion and prance with openapi and a recursive json schema that looks like:

    "information": {
        "type": "object",
        "properties": {
            "object": {
                "type": "array",
                "items": {
                    "anyOf": [
                        {
                            "$ref": "#/definitions/object"
                        },

[2020-06-27 19:59] gfarcieri commented on #75
I am using connexion and prance with openapi and a recursive json schema that looks like:

"information": {
			"type": "object",
			"properties": {
				"object": {
					"type": "array",
					"items": {
						"oneOf": [
							{
								"$ref": "#/definitions/object"
							},
							{
								"$ref": "#/definitions/information"
							}
						]
					}
				},
				"feature": {
					"type": "array",

[2020-06-28 11:12] jfinkhaeuser commented on #75
Thanks for this! It looks good at first glance, but I can dig into it a bit more tomorrow.

But I didn't understand this in #55, and don't understand it now - why are you using a recursive spec in the first place? I'm still struggling to find a good use-case for one.

[2020-06-28 15:07] gfarcieri commented on #75
Here is an example to try to explain why I am using recursion. Generally an information is a couple (object, feature) i.e. the feature of the object has a certain value. But an information can be itself an object to express for example how credible is that information. or to add other features that depend on the information itself

So, if I get the following information related to the position of

[2020-06-29 04:43] gfarcieri commented on #75
I made it work... the error was indeed on another circular reference of the schema that did not show up in the traceback. Once I changed that everything was parsed properly
So no problem with prance (that is btw one of the best on the subject)

Thanks a lot for your time

[2020-06-30 01:45] gfarcieri commented on #75
One more thing...

I had to change the handler

    def recursion_limit_handler_none(limit, refstring, recursions):
        return None

to the following

    def recursion_limit_handler_none(limit, refstring, recursions):
        return {}

[2020-06-30 08:17] jfinkhaeuser commented on #75
Well, there might still be an issue with prance, because the test code seems to succeed with returning `None` - I will have to investigate why.

Unfortunately, #74 is what you effectively ran into.

Since prance *wraps* validators, and doesn't validate itself, it can only report the exceptions from those validators up. But it passes the resolved spec to the validators, for a bunch of reasons - whi

[2020-06-30 08:26] jfinkhaeuser commented on #75
But back to the recursion limit handler: I should probably fix the documentation there. What it does is help deal with *circular* references. Recursion in references is handled up to... well, there's going to be a stack limit in Python, but practically indefinitely deep. It's circular references that trigger the handler.

So what prance does is walk down references and create a stack of them as it

[2020-06-30 14:26] gfarcieri commented on #75
Totally agree with what you said. Prance deals well with circular references but the resulting spec may not be valid for the validator.

The truth is that circular reference are as much of a pain to deal with as they are useful and elegant to describe a schema. Here is the classical example:

    "definitions": {
        "person": {
            "type": "object",
            "properties": {

[2020-07-01 07:19] jfinkhaeuser commented on #75
Ah, ok, so you're actively exploiting prance to make the schema work! Fair enough, that's not a use case I considered :)

[2020-07-01 07:19] #75 closed

[2020-08-07 13:43] iwanfrancis opened #76 "Extend Partial Resolution"
I may have be missing something which is already possible, so apologies if this is case.

I'd like to be able to have a reference to a specific part of the 'parent' file become an internal reference when the 'child' file is resolved.

### Minimal Example Spec
_root/parent.yaml_
[code]

_root/subfolder/child.yaml_
[code]

**Would resolve to:**
_compiled.yaml_
[code]

## Actual Behaviour
I've tried

[2020-08-13 09:00] jfinkhaeuser commented on #76
Sorry I did not immediately respond! Github emails sometimes seem to get lost for me.

This isn't something that's currently supported, but I do like the idea. Let me have a think about it. I have a feeling it's actually going to be easy...

The problem with a lot of these requests people have is that they require context that the resolver doesn't currently have. I think though in this case everyt

[2020-08-19 12:43] Glutexo opened #77 "Internal references dereferenced in external files"
This is more of an question on whether is this even possible. It applies to a state when _resolve_types_ does not include _RESOLVE_INTERNAL_. The motivation for this is that it is not possible to have recursive schema definitions in referenced local files. Like:

[code]

## Expected Behaviour

Local references in external files are kept local. They are injected to the main specification and conver

[2020-08-20 09:02] jfinkhaeuser commented on #77
Ok! That's a good suggestion. I think that similar to #76, it should be possible to do, but I haven't had time to figure that out yet, either.

I think today I might actually manage. Thank you!

[2020-08-24 13:45] jfinkhaeuser opened #78 "Bug in how RESOLVE_INTERNAL is handled"
## Expected Behaviour
If `RESOLVE_INTERNAL` is unset, internal references within an included file should not be resolved. Discovered while investigating #77

### Minimal Example Spec

[code]
And `_schemas.json`:
[code]

## Actual Behaviour

Internal reference to `$defs/Something` is resolved.

## Steps to Reproduce, etc.

See #77

@jfinkhaeuser

[2020-08-24 14:02] #78 closed

[2020-08-24 14:09] jfinkhaeuser commented on #77
So there was a bug #78 that prevented your desired behaviour anyway.

With the bug resolved, you'll simply get your request body to contain `"$ref": "#/$defs/Something"` which is of course semantically wrong, but does the resolution as documented.

I think what I can add is something similar to the `recursion_limit_handler` that's called when a reference is *not* resolved automatically. And then y

[2020-08-24 14:15] jfinkhaeuser commented on #76
I took a look at #77 first, because it seemed easier, and I have an approach to adding that functionality. It's eerily similar, but not the same.

The solution I proposed there would require you not to set the `RESOLVE_INTERNAL` flag (and use a handler of sorts) - but I wonder, would that be too wide-ranging for you? Would you want references from `parent.yml` to `#/foo/bar` to resolve, or should

[2020-08-25 07:04] jfinkhaeuser commented on #77
Hmm. This is a tad more complex, because one might want to install different handlers for different `RESOLVE_*` flags - or have a single handler do different things.

I guess the basics are clear, I'm just trying to come up with a clean design now.

[2020-09-01 08:15] iwanfrancis commented on #76
Apologies, I've been away from my work computer for the last week and didn't see this.

I think it would be fine for internal references within a parent to remain untouched, yes

[2020-09-01 08:44] jfinkhaeuser commented on #76
Ok, thank you - no need to apologize, I also have a ton of other things on my mind. The break was good :) I'll get back to this as soon as I can.

[2020-09-04 10:41] adaamz commented on #35
Would be nice to know file+line of validation error, if you have multiple files/big files it's hard to find it.

Anyway your answer helped me, thx!

[2020-09-04 11:14] jfinkhaeuser commented on #35
@adaamz yes, see #74 - when I get to it :)

[2020-09-22 13:13] chbndrhnns opened #79 "Resolve given URL to endpoint"
## Expected Behaviour

I would like to find the endpoint in my spec file according to a given URL.

Given `/networks/my-net/rbac`, I would like prance to give me the spec for the endpoint listed under the minimal example.

### Minimal Example Spec

[code]

## Actual Behaviour

I am not aware of a feature in prance that would allow this.

## Steps to Reproduce

## Environment
- OS: macOS
- Python v

[2020-10-07 11:19] Glutexo commented on #77
Hey @jfinkhaeuser, thanks a lot for looking into this! I found out that with the new version, I am not able to use local references in external files at all. If I take the exact example from the original issue description, I get this error:

[code]

It works however when I put the _Something_ immediately into the OpenAPI specification instead of the referenced file. That is obviously not semantica

[2020-10-07 11:21] Glutexo commented on #77
@tahmidefaz, do you want to go down this rabbit hole and help @jfinkhaeuser to resolve this?

[2020-10-07 12:10] jfinkhaeuser commented on #77
Thanks. Unfortunately, due to a broken arm, this will have to wait a little. I suspect I can type more than a very slow comment in 1-2 weeks again.

[2020-10-09 09:31] slxiao opened #81 "Get list of errors/warings when parsing YAML is failed."
When YAML is failed in parsing, can we get a list of errors/warnings of the yaml file? It would be helpful if line number and error message are given for every parse error.

Just like the swagger editor:
![image](https://user-images.githubusercontent.com/15605328/95567118-14a83d00-0a55-11eb-9396-833d7e2bad2a.png)

@jfinkhaeuser

[2020-10-12 06:36] Glutexo commented on #77
Oh. 😢 Take care of yourself!

[2020-11-02 18:23] tahmidefaz commented on #77
@Glutexo after the #78 fix, you now need to do the following to resolve internal refs in external files :slightly_smiling_face:
[code]

[2020-11-03 09:17] jfinkhaeuser commented on #77
I'm so sorry guys, I will get into this Real Soon (TM). My arm is better - thank you! - but of course a bunch of paid work piled up, so this project can't take precedence. It shouldn't be too long now, I hope (famous last words...).

[2020-11-03 09:40] Glutexo commented on #77
Me and @tahmidefaz came up with an idea of utilizing our upcoming Hackathon week at Red Hat to tackle this. If this goes well, there may a PR appear. We’ll keep you updated!

And glad to hear you are recovering! 🙏🏻

[2020-11-21 00:16] tahmidefaz commented on #77
Just opened a PR in #82 which introduces a new parameter called `resolve_method` to translate external refs to `components/schemas`. @jfinkhaeuser please take a look whenever you get some time. :slightly_smiling_face:

[2020-12-07 08:53] jfinkhaeuser commented on #81
This is essentially the same as #74.

[2020-12-08 09:03] jfinkhaeuser commented on #77
I merged this now. It's not exactly what I had in mind, because I wanted #76 solved as well - but after some time looking at the PR, I figure what I really need is to refactor the core of the resolver a bit before I can provide a clean solution for both. In the meantime, here it is. I'll push a release momentarily.

[2020-12-08 09:04] #77 closed

[2020-12-08 09:09] jfinkhaeuser commented on #76
This will take me a while longer, mostly due to time constraints. The issue is the recursive nature of your references here. As it currently stands, the resolver for the parent file will start a resolver for the child file, which will look up in the parent file how to resolve a reference. The key point here is the **parent file** - not the current parent resolver.

It would need some kind of back

[2020-12-08 09:11] jfinkhaeuser commented on #79
That's a very fair feature request! I wanted to add something like this in the long run, but I haven't been able to keep up with this project so much. Add a PR?

One of the nice things is that this is entirely orthogonal to the current functionality. It doesn't need the parser or resolver part, just the parsed specs.

[2020-12-08 13:44] tahmidefaz commented on #77
@jfinkhaeuser Thank you so much for your help with this! I appreciate it! I will pull in the latest release. :+1:

[2020-12-08 20:18] sam-hernandez-smartshoot opened #83 "strict=False does not work for referenced files"
## Expected Behaviour
`strict=False` should work with ResolvingParser when operations are defined in a separate file.
[code]

### Minimal Example Spec

`bad_spec.yaml`
[code]

`bad_get.yaml`
[code]

## Actual Behaviour

Validation fails:
[code]

## Steps to Reproduce
Create the files above (`bad_spec.yaml` and `bad_get.yaml`) and then run:
[code]

Note that this works fine:
[code]

## Environment

[2020-12-21 03:16] jayvdb opened #85 "Support chardet v4"
chardet v4 is finally out, and the setup.py `chardet~=3.0` blocks co-habitation with it.

[2020-12-21 08:19] jfinkhaeuser commented on #85
Thanks, I'll take a look!

[2021-01-19 15:39] jfinkhaeuser commented on #85
Updated in v0.20.1

[2021-01-19 15:39] #85 closed

[2021-01-19 15:43] jfinkhaeuser commented on #83
Thanks! I'll take a look.

[2021-01-19 16:21] jfinkhaeuser commented on #83
Fixed in v0.20.2

[2021-01-19 16:21] #83 closed

[2021-01-21 05:48] jayvdb commented on #83
@jfinkhaeuser , 0.20.2 hasnt been released to PyPI yet.

[2021-01-24 17:58] Goldziher opened #87 "Request - split up resolution from validation"
## Expected Behaviour

### Minimal Example Spec

## Actual Behaviour

## Steps to Reproduce

## Environment
- OS: maxOf
- Python version:  3.9
- Swagger/OpenAPI version used: swagger 2.0
- Backend: (flex, swagger-spec-validator or openapi-spec-validator) using the resolver directly

Hi there, and first off thanks for this resolver!

I'm maintaining another library that relies on Prance as a derfer

[2021-01-25 08:01] jfinkhaeuser commented on #87
Thank you for this!

It is true that validation and dereferencing do not have to happen at the same time. In fact, this is also how it's implemented - the validation function is just called internally.

I think that makes for a very easy change.

As to the bug: the spec could help, yes! Also, if/when I have time, #81 would help with locating the error. In the past, people passed malformed specs to

[2021-01-25 17:53] Goldziher commented on #87
great, i will create the test branch and maybe add a PR if I figure it out 😉

[2021-01-28 10:49] chreke opened #88 "fetch_url always caches resolved URLs"
The `util.url.fetch_url` and `util.url.fetch_url_text` functions are supposed to have an optional cache ("Mapping cache: An optional cache. If the URL can be found in the cache, return the cache contents.", as per the documentation)

However, in the current implementation there will *always* be a cache, which I believe was not the intention.

The root cause is using `{}` as default for the `cache`

[2021-01-28 11:34] jfinkhaeuser commented on #88
You're absolutely right! That's one of the things in Python I keep forgetting about. There will be similar issues; I'll go through the code to find them.

[2021-02-03 10:16] coenvl opened #89 "Error if examples in JSON schema are present"
## Expected Behaviour
Since the JSON schema allows for a (set of) examples to be included in the schema definition, I would expect prance to find the definitions valid.

### Minimal Example Spec

api.yaml:

[code]

And the corresponding JSON schema
[code]

## Actual Behaviour
I get a very long and (imho) hard to interpret error:

[code]

## Steps to Reproduce
I try to validate the api using `pranc

[2021-02-03 13:23] jfinkhaeuser commented on #89
Errors aren't great, see #74.

However, each of the ValidationError you're seeing comes from the validation backend, not from prance itself. In this case likely the openapi-spec-validator.

What I can tell you offhand is that in the example you posted, the referenced path `/components/schemas/animal` does not exist. That cannot really lead to a validation success.

I also do not understand how tha

[2021-02-03 13:49] coenvl commented on #89
Ah, I see I pasted the wrong code in my original post, I editted it to actually use the reference. That's what I get for playing around, moving the definitions into the file.

But as I understand by now, it is because openapi spec is not actually conform JSON schema. In fact they say in their documentation that `Additional properties defined by the JSON Schema specification that are not mentioned

[2021-02-03 16:21] jfinkhaeuser commented on #89
Great to hear you solved it!

Yes, OpenAPI specs are a bit dodgy that way - they say they're JSON Schema, but they're not JSON Schema in a number of places. This is one of them. It doesn't help that they bring YAML thinking to JSON as well and/or mix the two.

[2021-02-15 08:12] Goldziher commented on #87
@jfinkhaeuser, i added a PR with the Kubernetes swagger specs and a failing test.

[2021-03-10 16:43] jfinkhaeuser opened #91 "Find someone to adopt prance maintainership/ownership"
I just came across the fact that the Python `cryptography` now has a hard dependency on Rust. While prance does not use this package, this breaks things elsewhere, and the maintainer of the package does not seem to accept this as an issue (see https://github.com/pyca/cryptography/issues/5799 ).

I can't decide what's right for this package, but it is sufficiently important for any applications usi

[2021-03-11 09:52] jfinkhaeuser commented on #91
@RonnyPfannschmidt because you were actively interested.

[2021-03-11 09:53] jfinkhaeuser commented on #91
@Glutexo  ?

[2021-03-11 11:39] RonnyPfannschmidt commented on #91
Im reluctant at the moment for any type of adoption, as im not directly using the library myself, but instead ran into a couple of issues due to bugs / incomplete features in this library.

I'll bring up the issue with the relevant team in today's sync.

[2021-03-11 11:55] jfinkhaeuser commented on #91
Thanks! I'm just trying to tag people that might have an interest.

[2021-03-11 20:04] RonnyPfannschmidt commented on #91
I brought it up with the affected team, a decision will be made soon

[2021-03-12 09:21] jfinkhaeuser commented on #91
Thank you very much!

[2021-03-12 10:12] Glutexo commented on #91
I can’t decide that for myself. But Red Hat may be interested in an adoption and further maintenance. Let’s see what @RonnyPfannschmidt’s team comes with. cc @gmcculloug

[2021-03-14 14:38] jfinkhaeuser commented on #91
Thank you as well!

[2021-03-23 17:11] jparise opened #92 "Type annotations"
It would be useful if this project included [type hints](https://docs.python.org/3/library/typing.html) or published [type stubs](https://github.com/python/typeshed), especially because the code is already Python 3-specific and works with schematic data.

[2021-03-31 08:03] RonnyPfannschmidt commented on #91
we started some discussions and are interested, we are currently figuring how to make sure this will stay alive in a good way and won't just bit rot under a new name

[2021-03-31 08:12] Goldziher commented on #91
Jazz band is also an option, or snok? @sondrelg

[2021-03-31 08:19] RonnyPfannschmidt commented on #91
at first glance none of those are well suited to take a project that currently is not maintained, snok has a dead/empty description since a year and jazz band is no charity either

[2021-03-31 08:34] sondrelg commented on #91
Don't judge a book by it's cover 🤓 Out of curiosity, what description is missing?

We use this library as a core dependency for [drf-openapi-tester](https://github.com/snok/drf-openapi-tester), so it could be a good fit. At the same time, we're not really looking to take on more projects at the moment (who is), but if someone else wanted to actively maintain it *under* the snok umbrella, @jonasks

[2021-03-31 08:52] RonnyPfannschmidt commented on #91
its absolutely unclear what the goal/expectations are, so from my pov its jsut a random undefined name with some projects under it

not something i would trust

[2021-03-31 09:18] RonnyPfannschmidt commented on #91
i never talked about commercialized, but all you have as the starting point is a logo and a name,
"review the code of all the projects to see the quality as i cant give you a better indication" seems off the wrong foot to me and perfectly demonstrates why i personally wont trust the org as a starting point (while happy to be wrong)

i'm well aware of jazzband, their guidelines, which is precisely

[2021-03-31 09:29] Goldziher commented on #91
@jfinkhaeuser I guess you need to make some decisions.

[2021-03-31 13:47] RonnyPfannschmidt commented on #91
@jfinkhaeuser :  @Glutexo and me are now at a point where we'd volunteer our hands to do the maintainership

[2021-03-31 16:01] jfinkhaeuser commented on #91
Thank you for this!

To summarize, I'm reading this discussion as:
- Contact JazzBand, see what they say.
- snok, with @RonnyPfannschmidt and @Glutexo as maintainers.

Does that seem about right?

[2021-03-31 16:08] RonnyPfannschmidt commented on #91
We aren't related to snok as of now,

[2021-03-31 16:17] sondrelg commented on #91
Feel free to leave Snok out of the equation - we were only offering to house the project in the event that someone like @RonnyPfannschmidt would want to be the primary maintainer but have someone to help out from time to time. This doesn't seem to be the case.

[2021-03-31 17:14] RonnyPfannschmidt commented on #91
i want to enable C4 style development with a number of people being able to quickly push releases via automation

[2021-03-31 18:38] jfinkhaeuser commented on #91
Well in that case, it's simple - one candidate and one I'd have to convince still :)

[2021-04-01 04:50] RonnyPfannschmidt opened #93 "initial new ownership tasks"
- [x] place into a organisation
  - [x] contact jazzband: https://github.com/jazzband-roadies/help/issues/215
  - [x] considerations from insights (where @Glutexo and me primarily use it)
  - [x] openapi tools?
- [x] figure what exactly the license means for the file headers (i'd like to remove the dunder items in each file if permissible) cc @jfinkhaeuser
- [x] update docs/templates to the owner

[2021-04-01 04:51] RonnyPfannschmidt commented on #91
@jfinkhaeuser thanks, i'm starting the process of the busybody work of the ownership transfer  then ^^

[2021-04-01 06:10] #91 closed

[2021-04-01 07:19] jfinkhaeuser commented on #93
I have no objections to any changes you want to make. Of course I have preferences, but I gave up the privilege of enforcing them when transferring the project :)

One of my preferences has been to avoid a CLA (bot) or similar, and take contributions on a gentleperson's understanding that nobody will ever do anything horrible with them. Hence I went with simple copyright/license notices in file he

[2021-04-01 07:43] RonnyPfannschmidt commented on #93
@jfinkhaeuser i believe all that's needed for pypi is adding me as a owner, then i can create a new token (as the encryption is invalid for the new location anyway)

thanks for the extra items :+1:

[2021-04-01 07:46] RonnyPfannschmidt commented on #93
there will be no CLA, licensing will stay MIT, i'll crosscheck the meaning of the HEADER again to be sure (laws are hell)

[2021-04-01 07:55] RonnyPfannschmidt commented on #93
@jfinkhaeuser  do you remember what the secret here is for ?

https://github.com/RonnyPfannschmidt/prance/blob/773e87fefe040c88eb0279b0db1cd2a1bbdb78cd/.travis.yml#L47-L49

[2021-04-01 09:42] jfinkhaeuser commented on #19
Yes - I think the PR can be closed, unfortunately.

When I started the whole project, it was born out of a desire to run automated API tests. E.g. connexxion validates input data lazily, and doesn't validate output data (as far as I recall from back then).

I much prefer contract-based development, where inputs and outputs are validated at API boundaries (outputs in production less so, but in deve

[2021-04-01 09:52] jfinkhaeuser commented on #93
Nope... sorry. That is actually kind of weird to see there.

[2021-04-01 11:00] RonnyPfannschmidt commented on #93
@jfinkhaeuser please add me as pypi maintainer/owner

[2021-04-01 13:57] jfinkhaeuser commented on #93
What's your username there?

[2021-04-01 14:50] RonnyPfannschmidt commented on #93
@jfinkhaeuser [ronny](https://pypi.org/user/ronny/)

[2021-04-02 12:56] jfinkhaeuser commented on #93
Thanks, invite is sent @RonnyPfannschmidt

[2021-04-07 13:46] jezdez commented on #91
Hi Ronny, let me know if you want to chat about transferring this project to Jazzband, I saw your proposal and I'm interested in what you mean with "jazz band is no charity either"?

[2021-04-07 13:57] jezdez commented on #93
For  the record, the license isn't MIT at the moment but MITNFA (MIT +no-false-attribs License), which isn't OSI approved. Some background: https://github.com/Level/packager/issues/1

[2021-04-07 14:23] RonnyPfannschmidt commented on #91
@jezdez happy to as i jsut started to pick things up

what i mean by no charity either - you are all hardworking and time-stripped individuals that banded together to manage the projects
throwing in a project that doesn't have a lead seems like a disservice to me, the wording "not a charity either" is in hindsight neither detailed enough nor does it do the good work all of you do justice

[2021-04-07 14:27] RonnyPfannschmidt commented on #93
@jezdez thanks for the ref, that one is a bit of a headache

@jfinkhaeuser is there anything preventing going with a OSI approved variant lie MIT or Artistic?

[2021-04-07 14:32] jezdez commented on #91
Understood, thanks for elaborating, yeah, having active project leads is essential in my experience just like the regularl GitHub development experience. Jazzband simply makes it easier to be maintainers with a few automations, standards and features to on-board new people.

[2021-04-08 03:16] violetbrina opened #95 "Support for open api v3.1"
## Expected Behaviour
Support the 3.1.0 open api spec

[OpenAPI v3.1.0](https://spec.openapis.org/oas/v3.1.0)

[2021-04-08 13:07] jfinkhaeuser commented on #93
@RonnyPfannschmidt Artistic 2.0 is fine with me. GPLv3 is fine with me, too, but may not be with others :)

[2021-04-08 13:08] jfinkhaeuser commented on #93
If you want I can create a PR for the license change so you can have my signature on that :)

[2021-04-08 14:50] RonnyPfannschmidt commented on #93
@jezdez i believe Artistic 2.0 is fine for jazzband?

@jfinkhaeuser once we agreed on the final license that would be most appreciated :+1:

[2021-04-08 15:25] jezdez commented on #93
Well, MITNFA is "fine" as well, but if you want to increase the likelyhood that the library is going to be maintained in the future, I would suggest to use an OSI approved license.

[2021-04-09 15:02] Goldziher commented on #93
I don't mind giving a hand :).

[2021-04-14 08:52] RonnyPfannschmidt commented on #93
short followup from openapi tools, a mail to team@openapitools.org with detail would be required to start the process
it should included maintenance plans and details required from the openapi tools team
i think for now i'll focus on jazzband

personally im currently solving something else with time pressure, i plan to get back to prance right after that resolves

[2021-04-14 08:53] RonnyPfannschmidt commented on #93
@jezdez did i understand you correct that, current license would be fine but osi approved like Artistic2/plain MIT wouldbe much better - does jazzband have any preference, or is whatever @jfinkhaeuser likes of those acceptable

[2021-04-14 09:06] jfinkhaeuser commented on #93
Technically, it's your project now, and I do not need to give approval. But I appreciate the gesture!

[2021-04-14 10:17] jezdez commented on #93
Sorry, I described the license as "fine" in quotes above, indicating that it's not fine. Let me ellaborate.

Jazzband exists to make long-term maintenance easier. Choosing a non-OSI license (read: not "Open Source") decreaes the chance for use in real world projects where license compatibility matters. Which in effect reduces the chance that someone wants to maintain the project in the future. As

[2021-04-14 10:22] RonnyPfannschmidt commented on #93
@jezdez thanks for elaborating

@jfinkhaeuser i'd like to go MIT then

[2021-04-14 12:12] jfinkhaeuser commented on #93
Sure!

[2021-04-28 14:48] RonnyPfannschmidt commented on #93
@jezdez @jfinkhaeuser @Goldziher just a status update from my side

 i have been very occupied for corona related personal life mitigation (vaccine related childcare downtimes) and work delivery targets

i'll pick this up hopefully by the end of this week, but latest by the end of next week
i'm then going to set up the license change and prepare for moving to jazzband

[2021-05-10 14:19] Glutexo commented on #76
This too, just as #77 will be resolved by the new Translating Parser. It does not support all the configuration options of the ResolvingParser, but the a viable prototype lives now in [Glutexo/prance-translating-parser](https://github.com/Glutexo/prance-translating-parser) and I’ll create pull request to add it to the upstream.

[2021-05-10 14:21] Glutexo commented on #76
[This test](https://github.com/Glutexo/prance-translating-parser/blob/e1f694ab9d712d8430d535901928b01666607b8c/tests/test_translating_parser.py#L95) should cover this issue. Please challenge if you feel there is a need for more tests.

[2021-05-14 08:57] Glutexo opened #97 "👥 @Glutexo does not have write permissions to the repository"
## Expected Behaviour
@Glutexo can merge pull requests and do stuff.

### Minimal Example Spec
Come to a pull request, e.g. #96, fix the failing pipeline, restart the tests by pushing to the branch, approve, merge.

## Actual Behaviour
@Glutexo can not merge pull requests and do stuff.

## Steps to Reproduce
Open a pull request. See that there is no merge button. See a message saying that write pe

[2021-05-14 08:58] Glutexo commented on #97
May I ask @RonnyPfannschmidt to take a look at this?

[2021-05-14 08:59] Glutexo commented on #93
should include the new issue template.

[2021-05-17 14:27] RonnyPfannschmidt commented on #97
already fixed

[2021-05-17 14:27] #97 closed

[2021-05-17 14:37] RonnyPfannschmidt commented on #95
its on the radar now

[2021-05-17 14:50] RonnyPfannschmidt commented on #50
changed title since travis is gone

[2021-05-17 15:14] RonnyPfannschmidt commented on #93
@jfinkhaeuser i think i finished most of the replacement tasks as well as the MIT Replacement now

i plan to push a first release today, then iterate

i started to use readthedocs for the docs building
i added pre-commit and will take a look at black in near future

i plan to add validation and refactoring tools for openapi specs soon-ish

[2021-05-18 07:05] jfinkhaeuser commented on #93
Sounds awesome!

[2021-07-05 08:54] DavidMeu commented on #38
After this fix I'm still having issues.
`- $ref: '#/paths/~1names~1%7Bname_id%7D/get/parameters/0'`

error:
`'Object at "/paths" does not contain key: /alerts/%7Balert_id%7D'`

[2021-07-05 08:55] DavidMeu opened #105 "Unresolved reference"
After this fix https://github.com/RonnyPfannschmidt/prance/pull/43 I'm still having issues.

reference:
`- $ref: '#/paths/~1names~1%7Bname_id%7D/get/parameters/0'`

error:
`'Object at "/paths" does not contain key: /names/%7Bname_id%7D'`

[2021-07-05 10:27] DavidMeu commented on #105
https://github.com/RonnyPfannschmidt/prance/issues/56

[2021-07-05 10:27] #105 closed

[2021-07-13 12:10] DavidMeu opened #108 "asyncapi is not a valid specification schema"
asyncapi: "2.0.0"

Is not valid.
Recieving:
[code]

[2021-07-26 05:27] jiaxian-lin opened #109 "File not found"
i have some problem like this:
   my open_api file has this error:

prance.util.url.ResolutionError: Recursion reached limit of 1 trying to resolve

but when i annotate the recursion part，then i has this error：
"File not found: ../open_api/Error-ModelName{namespace='java.lang', name='Void'}")

i really don't know why, can you help me ?

[2021-07-31 07:21] RonnyPfannschmidt commented on #109
without more information on your files and the refs you use we cant say anything at all

can you provide a minimal example?

[2021-07-31 07:23] RonnyPfannschmidt commented on #108
asyncapi is  a different set of standards from openapi, for now i cant consider adding it

[2021-07-31 07:23] RonnyPfannschmidt commented on #108
primary reason is that it needs new tools and has different properties from openapi in many ways

 it will take a while before i can allocate the time needed to deal with those

[2021-07-31 07:24] RonnyPfannschmidt commented on #108
but to handle that feel free to add a actual feature request including more details
im going to close this bug report as its simply not fitting

[2021-07-31 07:24] #108 closed

[2021-08-03 08:25] wcloete opened #112 "HTTP Relative URL support in $ref"
## Expected Behaviour
The [OpenAPI 3.0 spec](https://spec.openapis.org/oas/v3.0.0#relative-references-in-urls) supports relative URLs in `$ref` definitions, but currently this ends up in a call to [`util.url.absurl`](https://github.com/RonnyPfannschmidt/prance/blob/36ea4364588df66b20467561463a3c35f3e8d104/prance/util/url.py#L31) which specifies that

So this results in a `ResolutionError` when usi

[2021-08-06 15:50] felixonmars opened #116 "Tests failed when flex is installed"
## Expected Behaviour
Tests should pass. Perhaps we should lower flex's preference of something? (Sorry I am not familiar with this...)

## Actual Behaviour
Tests broken.

## Steps to Reproduce
Install flex and run this project's test suite.

## Environment
- OS: Arch Linux
- Python version: 3.9.6
- Backend: (flex, swagger-spec-validator or openapi-spec-validator) flex

[code]

Example failure:
[c

[2021-09-23 13:25] undera commented on #95
Would be nice to have 3.1 supported...

[2021-11-11 14:04] alessiofachechi opened #119 "Support `writeOnly` properties"
## Expected Behaviour
As stated on the [docs](https://swagger.io/docs/specification/data-models/data-types/#readonly-writeonly):

So `writeOnly` properties should not be rendered in responses.

### Minimal Example Spec
[code]

## Actual Behaviour
`writeOnly` properties are rendered in responses.

## Steps to Reproduce
Just render the spec above. The write only `suggestedId` will be rendered also i

[2021-12-03 13:29] Glutexo opened #122 "Translating Parser handles non-schema references incorrectly"
Will fill later.

## Expected Behaviour

### Minimal Example Spec

## Actual Behaviour

## Steps to Reproduce

## Environment
- OS:
- Python version:
- Swagger/OpenAPI version used:
- Backend: (flex, swagger-spec-validator or openapi-spec-validator)

[2022-01-25 15:18] leonpros opened #124 "Validating schema fails on recursion openapi 3.0.3"
## Expected Behavior
Validation of yaml/json file should be ok.

### Minimal Example Spec
Example of yaml that fails to validate:

      type: object
      properties:
        absoluteFile:
          $ref: '#/components/schemas/File'
        absolutePath:
          type: string
        canonicalFile:
          $ref: '#/components/schemas/File'
        file:
          type: boolean

## Actual Behav

[2022-02-09 19:20] onikolskyy opened #126 "parsing subset of api spec"
### Discussed in https://github.com/RonnyPfannschmidt/prance/discussions/125

<div type='discussions-op-text'>

<sup>Originally posted by **onikolskyy** February  9, 2022</sup>
For some purpose, I would like to parse only the `components` part of a swagger api spec.

However, when I use `ResolvingParser('apischemas/schemas.yaml')`, I get the exception

`prance.ValidationError: ("'paths' is a requi

[2022-02-15 08:57] chbndrhnns opened #127 "DeprecationWarning on distutils"
## Expected Behaviour
No warnings when importing prance.

### Minimal Example Spec

## Actual Behaviour

[code]

## Steps to Reproduce

## Environment
- OS: macOS
- Python version: 3.10
- Swagger/OpenAPI version used: n/a
- Backend: (flex, swagger-spec-validator or openapi-spec-validator): n/a

[2022-02-15 11:51] odidev opened #128 "Add test support for linux aarch64"
Hi Team,

I tried testing **prance** package on **Arm64** architectures but it is genarating **10 deselected, 1 error** for` pytest -m "not requires_network"` command. The error seems to be **PyICU** package dependency.

[code]
I checked the **PyICU** support and installed through [PyICU · PyPI.](https://pypi.org/project/PyICU/#modal-close) which got successful but doesn't solve the issue. Also Py

[2022-04-02 18:20] tz4678 commented on #124
how to fix this shit?

[2022-05-19 14:40] NotoriousPyro opened #129 "Dependency conflict when including prance"
When using pip-tools with Flask and prance, there is a conflict between `click` versions:

I notice in `setup.py` this is listed as a dependency of `CLI`, which is not used in an Flask application. I think this is likely because `requirements.txt` includes `CLI` as an extra.

## Expected Behaviour
Only the bare minimum should be included in requirements.txt to run the parser classes (e.g. `install

[2022-09-02 10:59] kasium opened #131 "ImportError: cannot import name 'validate_v2_spec' from 'openapi_spec_validator'"
## Expected Behaviour
Import works

### Minimal Example Spec
* Install prance and run a validation
* Install openapi_spec_validator 0.5.0

## Actual Behaviour
`cannot import name 'validate_v2_spec' from 'openapi_spec_validator'`

[2022-09-02 13:13] jacobtomlinson commented on #131
It looks like the usage changed in `openapi-spec-validator` `0.5.0`.

[code]

[2022-09-05 05:40] hectorakemp commented on #131
Pinning `openapi-spec-validator` to `0.4` fixed the issue for me!

[2022-09-05 08:19] jayvdb opened #133 "Detect swagger vs openapi and auto-select appropriate backend"
## Expected Behaviour

When `flex` is installed, it should not be the default unless the input document is swagger.

### Minimal Example Spec
n/a

## Actual Behaviour

When flex is installed, `prance validate my_openapi3.yaml` will emit
[code]

The `{'swagger': ['This value is required']}` in there is reasonably informative if you know/remember what flex is looking for.
But it isnt a great UX for

[2022-09-05 11:57] jayvdb opened #134 "validate doesnt indicate which line number or element is problematic"
## Expected Behaviour

When command `prance validate` reports a problem, it would be helpful for it to show which part of the document the error relates to, ideally with a line number, but failing that

If I intentionally make a yaml schema invalid, e.g. by changing a `type: integer` to `type: unknown`, then `prance validate --backend openapi-spec-validator foo.yaml` dumps out a large json represe

[2022-09-13 09:50] Milind-TW commented on #131
Hi, is there any update on this?

[2022-09-16 10:01] robinmackaij-kadaster commented on #131
The related packages openapi-core / openapi-spec-validator and openapi-schema-validator were updated the past few months to add support for OAS v3.1. The breaking changes are unfortunate, but updating prance to work with openapi_spec_validator 0.5 is probably a bit step towards OAS 3.1 support.

[2022-09-27 14:34] tommyjcarpenter commented on #15
I hit this same exact problem today too - and needed @mafrosis `def _merge(allOf_list):` function above

the problem is, now the code doesnt really align with the openapi editor, as the openapi gui is able to handle the allOf.

My code, to give the gist of the issue:

[code]

The bottom two Composite definitions fail for Prance - but are fine in Openapi.

What I had to do to get prance to work was

[2022-09-27 14:34] tommyjcarpenter opened #135 "merge allOf"
I commented on a four year old issue... not sure if I should open a new one:

https://github.com/RonnyPfannschmidt/prance/issues/15

[2022-09-27 14:53] tommyjcarpenter commented on #15
@jfinkhaeuser do you know if there is a current maintainer?

[2022-09-27 15:26] jfinkhaeuser commented on #15
Well, I transferred it to @RonnyPfannschmidt for reasons of maintaining it, yes.

[2022-09-27 15:41] RonnyPfannschmidt commented on #15
Im currently on parental leave, im happy to review /merge a pr, getting to it my self may take a while

[2022-09-28 14:52] tommyjcarpenter commented on #15
@RonnyPfannschmidt ok we will look into making a contribution for this. It will have to have some flag or warning, because as @jfinkhaeuser pointed out, its "only safe when the user says its safe". a merge COULD have a conflict, but in both our and @mafrosis comments, we know that it is safe.

can you please reopen this issue?

[2022-10-11 08:47] wcloete commented on #112
I think I've fixed this, (possibly only partly) in https://github.com/wcloete/prance.

[2022-10-15 15:20] #131 closed

[2022-10-17 06:23] kasium commented on #131
@RonnyPfannschmidt if you have some time, a release would be great 😄

[2022-11-04 13:39] Milind-TW opened #139 "Requesting a new release tag for the change - update openapi-spec-validator NixOS/nixpkgs#193272"
We can see that the fix for issue https://github.com/RonnyPfannschmidt/prance/issues/131 has been merged but not released yet.

Requesting a new release tag for this change so that we can use the latest version in our pipelines.

_Originally posted by @Milind-TW in https://github.com/RonnyPfannschmidt/prance/issues/132#issuecomment-1303549292_

[2022-11-04 16:39] #127 closed

[2022-11-04 17:00] RonnyPfannschmidt commented on #139
thanks forthe ping
https://github.com/RonnyPfannschmidt/prance/pull/140 will be needed in then i will release

[2022-11-04 17:07] RonnyPfannschmidt commented on #139
https://pypi.org/project/prance/0.22.11.4.0/

[2022-11-04 17:07] #139 closed

[2022-11-18 12:07] samih100 opened #142 "HOMEDRIVE in the fs.py file causes an error"
https://github.com/RonnyPfannschmidt/prance/blob/181bf60c02866313c9b65b179c8ae8d5112e6273/prance/util/fs.py#L66

**Problem/bug**
The problem is on a Windows computer with a home folder that is shared as a network drive. This is standard practice in a Windows AD environment. If the client computer cannot connect to the home folder, prance validation fails and it's give assertion failure.

**Minimal